@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 500px;
  height: 500px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  @apply flex flex-col items-center bg-gradient-to-r from-black to-white to-red-900
}

.chat_div {
  @apply  m-8 w-full flex flex-row  opacity-75 p-5 rounded-lg space-x-4 font-bold
}

.answer_div {
@apply p-5 rounded-lg opacity-75 text-white font-bold
}

.text_field{
@apply w-full rounded-full px-5
}
.enter_btn {
@apply rounded-full border border-black bg-white py-2 px-6 text-black transition-all hover:bg-black hover:text-white text-center text-sm;
}